Math_SOA/Service Descriptors/concrete_sub_wsdl.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--Created by TIBCO WSDL-->
<wsdl:definitions xmlns:ns1="http://www.tibco.com/schemas/Math/Schema1.xsd" xmlns:tns="http://xmlns.example.com/1483340884570" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns0="http://www.tibco.com/schemas/Math/Schema.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="Untitled" targetNamespace="http://xmlns.example.com/1483340884570">
    <wsdl:types>
        <xs:schema xmlns="http://www.tibco.com/schemas/Math/Schema.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.tibco.com/schemas/Math/Schema.xsd" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xs:element name="Numbers">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="ns0:num1"/>
                        <xs:element ref="ns0:num2"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="num1" type="xs:int"/>
            <xs:element name="num2" type="xs:int"/>
        </xs:schema>
        <xs:schema xmlns="http://www.tibco.com/schemas/Math/Schema1.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.tibco.com/schemas/Math/Schema1.xsd" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xs:element name="Answer" type="xs:int"/>
            <xs:element name="Output">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="ns1:Answer"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:service name="A_sub_WSDL-service0">
        <wsdl:port name="PortTypeEndpoint0" binding="tns:PortTypeEndpoint0Binding">
            <soap:address location="http://localhost:7788/SUBSTRACT/A_sub_WSDL-service0.serviceagent/PortTypeEndpoint0"/>
        </wsdl:port>
    </wsdl:service>
    <wsdl:portType name="PortType">
        <wsdl:operation name="Operation">
            <wsdl:input message="tns:sub_inp_Message"/>
            <wsdl:output message="tns:sub_out_Message1"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="PortTypeEndpoint0Binding" type="tns:PortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="Operation">
            <soap:operation style="document" soapAction="/SUBSTRACT/A_sub_WSDL-service0.serviceagent/PortTypeEndpoint0/Operation"/>
            <wsdl:input>
                <soap:body use="literal" parts="In"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="Out"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:message name="sub_inp_Message">
        <wsdl:part name="In" element="ns0:Numbers"/>
    </wsdl:message>
    <wsdl:message name="sub_out_Message1">
        <wsdl:part name="Out" element="ns1:Output"/>
    </wsdl:message>
</wsdl:definitions>