Math_SOA/Service Descriptors/In.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.tibco.com/schemas/Math/soap/Schema.xsd"
	 targetNamespace="http://www.tibco.com/schemas/Math/soap/Schema.xsd"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:element name="input">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="num1"/>
				<xs:element ref="num2"/>
				<xs:element ref="operator"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="num1" type="xs:int"/>
	<xs:element name="num2" type="xs:int"/>
	<xs:element name="operator" type="xs:string"/>
</xs:schema>