Math/stub/WSDL_gen_concrete.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--Created by TIBCO WSDL-->
<wsdl:definitions xmlns:ns1="http://www.tibco.com/schemas/Math/soap/Schema.xsd2" xmlns:tns="http://xmlns.example.com/1482476458205/Invoke" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns0="http://www.tibco.com/schemas/Math/soap/Schema.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="Invoke" targetNamespace="http://xmlns.example.com/1482476458205/Invoke">
    <wsdl:types>
        <xs:schema xmlns="http://www.tibco.com/schemas/Math/soap/Schema.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.tibco.com/schemas/Math/soap/Schema.xsd" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xs:element name="input">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="ns0:num1"/>
                        <xs:element ref="ns0:num2"/>
                        <xs:element ref="ns0:operator"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="num1" type="xs:int"/>
            <xs:element name="num2" type="xs:int"/>
            <xs:element name="operator" type="xs:string"/>
        </xs:schema>
        <xs:schema xmlns="http://www.tibco.com/schemas/Math/soap/Schema.xsd2" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.tibco.com/schemas/Math/soap/Schema.xsd2" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xs:element name="output">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="ns1:result"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="result" type="xs:int"/>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="Message1">
        <wsdl:part name="msg1" element="ns0:input"/>
    </wsdl:message>
    <wsdl:message name="Message2">
        <wsdl:part name="msg2" element="ns1:output"/>
    </wsdl:message>
    <wsdl:portType name="PortType">
        <wsdl:operation name="Operation">
            <wsdl:input message="tns:Message1"/>
            <wsdl:output message="tns:Message2"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="SOAPService_Binding1" type="tns:PortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="Operation">
            <wsdl:documentation/>
            <soap:operation style="document" soapAction="Operation"/>
            <wsdl:input>
                <soap:body use="literal" parts="msg1"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="msg2"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="Invoke">
        <wsdl:port name="SOAPService_Binding1" binding="tns:SOAPService_Binding1">
            <soap:address location="http://localhost:7799/portType/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>